
<div class="thanks-form">
  <div class="thanks-title">
    <h1>ご応募ありがとうございました！</h1>
  </div>  

  <div class="thanks-main mt-4">

    <p><span class="thanks-red">2022</span> 年 <span class="thanks-red">1</span> 月 <span class="thanks-red">31</span> 日までであれば何度でも応募可能です</p>
    <p>さらにご応募いただける方はこちら</p>
    <%= link_to "さらに応募する", users_path, class: "btn-gradient-radius" %>

  </div>
</div> 
