<!Doctype html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div> 
      <p><%= simple_format(@comment)%></p>  
      <hr />
      <p>
        •*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬<br>
        SDGs Women's Innovation Project<br>
        Smile Festival2020ジョカツ川柳チーム<br><br>

        WIPへのご連絡、お問い合わせ<br>
        https://ws.formzu.net/dist/S35086197/<br>
        •*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬•*¨*•.¸¸♬<br>
      </p>
    </div>
  </body>
</html>