// Place all the styles related to the Adminmessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tyui {
  margin-top: 30px;
  font-size: 18px;
  color: red;
}

.adminmessage-index-table {
  margin-top: 30px;
}

.adminmessage-index-table-th {
  font-size: 24px;
}

.adminmessage-index-table-td {
  font-size: 20px;
}