// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .center-block{
//   margin: 0 auto;
// }

// .info {
//   margin-left: 15px;
// }

// .users-table {
//   width: 90%;
//   margin: 10px;
// }

// .senryu-td {
//   padding-left: 30px;
// }

// .users-th {
//   width: 30%;
//   background: yellow;
//   padding-left: 5px;
// }

// .users-td {
//   padding-left: 30px;
// }

// .input-width{
//   font-size: 12px;
//   width: 100px;
// }

// .color-red {
//   margin-left: 10px;
//   color: red;
// }

// .color-pink {
//   font-size: 12px;
//   color: pink;
// }

// .users-email {
//   font-size: 14px;
// }

// .btn {
//   margin-top: 10px;
// }

// .user-index-btn{
//   text-align: center;
// }

// // confirm
// .confirm-th {
//   background: none;
// }

// .actions {
//   text-align: center;
// }

// .confirm-btn {
//   margin-left: 10px;
// }

// @media screen and (max-width: 576px) {
//   .users-table {
//     margin: 10px auto;
//   }

//   .senryu-th {
//     width: 25%;
//     padding-left: 10px;
//   }

//   .senryu-td {
//     font-size: 12px;
//     padding-left: 10px;
//   }

//   .users-th {
//     width: 200px;
//     padding-left: 10px;
//     font-size: 12px; 
//   }

//   .color-red {
//     margin-left: 5px;
//   }

//   .users-td {
//     padding-left: 10px;
//   }

//   .font-pn{
//     font-size: 10px;
//   } 
//   .users-email {
//     font-size: 10px;
//   }

//   // confilrm
//   .confirm-th {
//     background: none;
//     font-size: 9px;
//   }

//   .confirm-td {
//     font-size: 12px;
//   }

//   .actions {
//     margin-top: 10px;
//   }

//   .confirm-btn {
//     margin-left: 10px;
//   }
// }

// 槇変更分----------------------------------------------------------------------------------------

.center-block{
  margin: 0 auto;
}

.info {
  margin-left: 15px;
}

.senryu-table {
  margin: 10px;
  border-collapse: separate;
}

.senryu-table th {
  background: rgb(250, 183, 95);
  padding-left: 5px;
}

.senryu-th {
  width: 15%;
}

.senryu-td {
  padding-left: 30px;
}

.users-table {
  margin: 10px;
  border-collapse: separate;
}

.users-table th {
  background: rgb(255, 255, 94);
  padding-left: 5px;
}

.users-th {
  width: 30%;
}

.users-td {
  padding-left: 30px;
}

.color-red {
  margin-left: 10px;
  color: red;
}

.color-pink {
  font-size: 12px;
  color: pink;
}

.users-email {
  font-size: 14px;
}

.btn {
  margin-top: 10px;
}

.user-index-btn{
  text-align: center;
}

// confirm
.confirm-th {
  background: none;
}

.actions {
  text-align: center;
}

.confirm-btn {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {

  .title h1 {
    font-size: 25px;
  }

  .users-table {
    margin: 10px auto;
  }

  .senryu-th {
    width: 25%;
    padding-left: 10px;
  }

  .senryu-td {
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
  }

  .users-th {
    width: 200px;
    padding-left: 10px;
    font-size: 12px; 
  }

  .color-red {
    margin-left: 5px;
  }

  .users-td {
    padding-left: 10px;
  }

  .font-pn{
    font-size: 12px;
  } 

  .font-category-phrase {
    font-size: 14px;
  }

  // confilrm
  .confirm-th {
    background: none;
    font-size: 12px;
  }

  .confirm-td {
    font-size: 14px;
  }

  .actions {
    margin-top: 10px;
  }

  .confirm-btn {
    margin-left: 10px;
  }
}
