// Place all the styles related to the Voterposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color-red {
  margin-left: 10px;
  color: red;
}

h1 {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

table {
  margin-left: 10px;
}

th {
  background: yellow;
}

.voterpost-index-td{
  font-size: 14px;
}

.btn {
  margin-top: 10px;
}

.voterpost-index-textarea {
  text-align: center;
}

.voterpost-index-btn{
  text-align: center;
}

// 投票ボタン
.narabi{
  display: inline-block;
}